<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
	"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>io.github.ipad-display-connector</string>
	<key>ProgramArguments</key>
	<array>
		<string>__CONNECTOR_BIN__</string>
		<string>--device</string>
		<string>__DEVICE_NAME__</string>
		<string>--attempts</string>
		<string>6</string>
		<string>--retry-delay</string>
		<string>5</string>
		<string>--connect-wait</string>
		<string>35</string>
		<string>--refresh-control-center</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardOutPath</key>
	<string>__LOG_DIR__/ipad-display-connector.launchd.out.log</string>
	<key>StandardErrorPath</key>
	<string>__LOG_DIR__/ipad-display-connector.launchd.err.log</string>
</dict>
</plist>
